* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
}

header a {
  color: #38bdf8;
  margin-left: 15px;
  text-decoration: none;
}

/* Login */
.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-card {
  background: rgba(255,255,255,0.05);
  padding: 40px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Video Grid */
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  gap: 20px;
}

.video-card {
  background: #020617;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* Upload */
.upload-box {
  max-width: 400px;
  margin: 50px auto;
  background: #020617;
  padding: 30px;
  border-radius: 12px;
}

.upload-box input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

/* Watch */
.watch-container {
  max-width: 800px;
  margin: 30px auto;
}
